.App {
  text-align: center;
}

.barraLogo{
  text-align: stretch;
  background-color: rgb(32, 143, 115);
}

.enlaces{
  padding: 10px;
  display: inline;
  text-decoration: none;
  color: white;
  font-family: 'Quicksand';
  font-size: 18px;
  align-self: center;
}

.enlaces:hover{
  color: yellow;
}

.logo{
  width: 270px;
  height: 100px;
}

.barraEnlaces{
  background-color: black;
  padding: 10px;
}
.icon{
  width: 25px;
  height: 25px;
  align-self: baseline;
  margin-top: 5px;
}

.icon:hover{
  transform: scale(1.2,1.2);
}

h1,
h3{
  padding: 10px;
}

.imgHome {
  border-radius: 70px;
}