.App {
  text-align: center;
}

.barraLogo{
  text-align: stretch;
  background-color: rgb(23, 104, 83);
  align-self: center;
  padding: 10px;
}

.enlaces{

  display: inline;
  text-decoration: none;
  color: white;
  font-family: 'Quicksand';
  font-size: 20px;

}

.icon{
  width: 25px;
  height: 25px;
  align-self: baseline;
  margin-top: 5px;
}

.icon:hover{
  transform: scale(1.2,1.2);
}

h1,
h3{
  padding: 10px;
}
