.App {
  text-align: center;
}

.barraLogo{
  text-align: stretch;
  background-color:black;
  align-self: center;
  padding: 10px;
}

.enlaces{

  display: inline;
  text-decoration: none;
  color: white;
  font-family: 'Quicksand';
  font-size: 20px;

}

.notificacion{

  display: inline;
  text-decoration: none;
  color: yellow;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: bolder;

}

.icon{
  width: 25px;
  height: 25px;
  align-self: baseline;
  margin-top: 5px;
}

.icon:hover{
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
}

h1,
h3{
  padding: 10px;
}

.itemList{
  font-family: 'Quicksand';
  font-size: 20px;
  text-align: justify;
}

.price{
  font-family: 'Quicksand';
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.titulo {
  color:white;
  background-color: #e1701a;
  font-family: 'Quicksand';
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
}


.iconCart{
  width: 150px;
  height: 150px;
  align-self: baseline;
  margin-top: 5px;
}

.iconCart:hover{
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
}

.rowCart {
  text-align: center;
  align-self: baseline;
}

.buttonsCart{
  width: 250px;
  height: 48px;
  border-radius: 10px;
  font-family: 'Quicksand'; 
}


.preview{
  padding-top: 25px;
  filter: grayscale(0.7);
}
.preview:hover{
  filter: none;
  transform: scale(1.1,1.1);
  transition-duration: 0.5s;
}